
header {
	display: flex;
	background-color: white;
}

nav {
	display: flex;
	gap: 1em;
}

body {
	background-color: pink;
	margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

footer {
	background-color: #495e57;
}
